pipeline/foreachpipelinevariable.json
{
	"name": "foreachpipelinevariable",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Country')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item(),'India')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "'Country not found'",
											"errorCode": "30000"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "SetVariable",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Setvariable2",
								"value": {
									"value": "@variables('SetVariable')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Country": {
				"type": "Array",
				"defaultValue": [
					"India",
					"Nepal",
					"America",
					"India"
				]
			},
			"SetVariable": {
				"type": "Array"
			},
			"Setvariable2": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-27T14:51:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}