pipeline/pipelinesetvariabledemo.json
{
	"name": "pipelinesetvariabledemo",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": "Cloud Knowledge"
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('var'),'Cloud Knowledge')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": "Cloud knowledge channel"
							}
						}
					],
					"timeout": "0.00:00:15"
				}
			}
		],
		"variables": {
			"var": {
				"type": "String"
			},
			"newVar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-26T13:12:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}