pipeline/setvariablepipeline.json
{
	"name": "setvariablepipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var",
					"value": "Cloud Knowledge"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var",
					"value": "Cloud knowledge channel"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var",
					"value": "Cloud channel content"
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": "Hello"
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": {
						"value": "@concat(variables('var2'),' ',variables('Var'),' ','Wolrd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Var": {
				"type": "String"
			},
			"var2": {
				"type": "String"
			},
			"var3": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-26T11:59:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}